USE [master]
GO
/****** Object:  Database [UniversityManagementDbVersion2]    Script Date: 11/01/2019 20:24:03 ******/
CREATE DATABASE [UniversityManagementDbVersion2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'UniversityManagementDbVersion2', FILENAME = N'G:\Microsoft SQL server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UniversityManagementDbVersion2.mdf' , SIZE = 4288KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'UniversityManagementDbVersion2_log', FILENAME = N'G:\Microsoft SQL server\MSSQL12.MSSQLSERVER\MSSQL\DATA\UniversityManagementDbVersion2_log.ldf' , SIZE = 1072KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [UniversityManagementDbVersion2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [UniversityManagementDbVersion2]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
	[User_Id] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[UserId] [nvarchar](128) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[UserName] [nvarchar](max) NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[Discriminator] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AssignmentOrReports]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignmentOrReports](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Session] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[UploadDate] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
	[Url] [nvarchar](max) NULL DEFAULT (''),
	[FileType] [nvarchar](max) NOT NULL DEFAULT (''),
 CONSTRAINT [PK_dbo.AssignmentOrReports] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ClassroomAllocates]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ClassroomAllocates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[Day] [nvarchar](max) NULL,
	[FromTime] [nvarchar](max) NOT NULL,
	[ToTime] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.ClassroomAllocates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseAssigneds]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseAssigneds](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CourseAssigneds] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Courses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](20) NOT NULL,
	[Credit] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](100) NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[Name] [nvarchar](50) NOT NULL DEFAULT (''),
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Departments]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](7) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Designations]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Designations](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [nvarchar](50) NOT NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Designations] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnrollCourses]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnrollCourses](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Session] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EnrollCourses] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EnrollStates]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EnrollStates](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.EnrollStates] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ExamRoutines]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExamRoutines](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Date] [nvarchar](max) NOT NULL,
	[FromTime] [nvarchar](max) NOT NULL,
	[ToTime] [nvarchar](max) NOT NULL,
	[Session] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ExamRoutines] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Notices]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notices](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [nvarchar](max) NULL,
	[NoticeDescription] [nvarchar](max) NOT NULL,
	[DateTime] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Notices] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rooms](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [nvarchar](10) NOT NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semesters](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [nvarchar](10) NOT NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Semesters] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[StudentResults]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentResults](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[Attendance] [int] NOT NULL,
	[Assignement] [decimal](18, 2) NOT NULL,
	[ClassTest] [decimal](18, 2) NOT NULL,
	[MidTerm] [decimal](18, 2) NOT NULL,
	[FinalExam] [decimal](18, 2) NOT NULL,
	[Point] [decimal](18, 2) NOT NULL,
	[Session] [nvarchar](max) NOT NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
	[PublishStatus] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.StudentResults] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Students]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [nvarchar](max) NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ContactNo] [nvarchar](20) NOT NULL,
	[Date] [nvarchar](20) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[DepartmentId] [int] NOT NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
	[ProfilePicture] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Supplimentaries]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Supplimentaries](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[Session] [nvarchar](max) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[FileUrl] [nvarchar](max) NULL,
	[State] [nvarchar](max) NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
	[FileName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Supplimentaries] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 11/01/2019 20:24:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [nvarchar](max) NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Address] [nvarchar](500) NULL,
	[Email] [nvarchar](max) NOT NULL,
	[ContactNo] [nvarchar](100) NOT NULL,
	[DesignationId] [int] NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CreditToBeTaken] [decimal](18, 2) NOT NULL,
	[ActionBy] [nvarchar](max) NULL,
	[ActionDone] [nvarchar](max) NULL,
	[ActionTime] [nvarchar](max) NULL,
	[ProfilePicture] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'0309441f-7d86-4309-95ae-0c7c16115b2d', N'Admin', N'ADpheeCfY6keZnWBhWgp5f6guT/T3JaOJoI2gQlsvufD5YZo35u5mqm3JrBQ4DqfeA==', N'0efa321f-7360-4544-aa56-84f9692b83b4', N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'04157928-282c-4e5f-995d-4320c9e38124', N'CSE2019021', N'AIdkv0AGlF0lviRYf4heuKuiIyVsAt4ImAh5GlgDZrAJ3Psxreb81RwjEhTlpPWJEg==', N'e2b7ae12-4a27-43a2-8d77-e2d637c198cc', N'ApplicationUser')
INSERT [dbo].[AspNetUsers] ([Id], [UserName], [PasswordHash], [SecurityStamp], [Discriminator]) VALUES (N'06cd730f-a807-4bd9-beea-8c5f97df4797', N'CSE2019003', N'ANhExGR96mRmPQHhasg/pshNE3XdUh6rfFeE1/PCN9RRSQVG8pHmqkWyGWWjG4z2jA==', N'd0a7a0c4-6f0e-4c0b-bd0b-37f59c7d9eb1', N'ApplicationUser')

SET IDENTITY_INSERT [dbo].[ClassroomAllocates] ON 

INSERT [dbo].[ClassroomAllocates] ([Id], [DepartmentId], [CourseId], [RoomId], [Day], [FromTime], [ToTime], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (29, 20, 27, 17, N'Sat', N'10:30 AM', N'12:30 PM', N'ACTIVE', N'Admin', N'INSERTED', N'10/01/2019 17:23:00')
INSERT [dbo].[ClassroomAllocates] ([Id], [DepartmentId], [CourseId], [RoomId], [Day], [FromTime], [ToTime], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (30, 20, 27, 23, N'Thus', N'11:30 AM', N'12:30 PM', N'ACTIVE', N'Admin', N'INSERTED', N'10/01/2019 17:23:44')
INSERT [dbo].[ClassroomAllocates] ([Id], [DepartmentId], [CourseId], [RoomId], [Day], [FromTime], [ToTime], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (31, 20, 28, 18, N'Sun', N'10:30 AM', N'12:30 PM', N'ACTIVE', N'Admin', N'INSERTED', N'10/01/2019 17:24:22')
SET IDENTITY_INSERT [dbo].[ClassroomAllocates] OFF
SET IDENTITY_INSERT [dbo].[CourseAssigneds] ON 

INSERT [dbo].[CourseAssigneds] ([Id], [TeacherId], [CourseId], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (17, 36, 27, N'ACTIVE', N'Admin', N'INSERTED', N'10/01/2019 17:20:29')
INSERT [dbo].[CourseAssigneds] ([Id], [TeacherId], [CourseId], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (18, 36, 28, N'ACTIVE', N'Admin', N'INSERTED', N'10/01/2019 17:20:39')
INSERT [dbo].[CourseAssigneds] ([Id], [TeacherId], [CourseId], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (19, 36, 30, N'ACTIVE', N'Admin', N'INSERTED', N'10/01/2019 17:20:50')
SET IDENTITY_INSERT [dbo].[CourseAssigneds] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([Id], [Code], [Credit], [Description], [DepartmentId], [SemesterId], [Name], [ActionBy], [ActionDone], [ActionTime]) VALUES (27, N'CSE-101', CAST(1.50 AS Decimal(18, 2)), NULL, 20, 9, N'Introduction to Computer System', N'Admin', N'INSERTED', N'10/01/2019 17:14:54')
INSERT [dbo].[Courses] ([Id], [Code], [Credit], [Description], [DepartmentId], [SemesterId], [Name], [ActionBy], [ActionDone], [ActionTime]) VALUES (28, N'CSE-102', CAST(2.00 AS Decimal(18, 2)), NULL, 20, 10, N'Structured Programming', N'Admin', N'INSERTED', N'10/01/2019 17:15:21')
INSERT [dbo].[Courses] ([Id], [Code], [Credit], [Description], [DepartmentId], [SemesterId], [Name], [ActionBy], [ActionDone], [ActionTime]) VALUES (29, N'CSE-103', CAST(2.50 AS Decimal(18, 2)), NULL, 20, 11, N'Data Structure', N'Admin', N'INSERTED', N'10/01/2019 17:15:46')
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([Id], [Code], [Name], [ActionBy], [ActionDone], [ActionTime]) VALUES (20, N'CSE', N'Computer Science & Engineering', N'Admin', N'INSERTED', N'10/01/2019 16:40:47')
INSERT [dbo].[Departments] ([Id], [Code], [Name], [ActionBy], [ActionDone], [ActionTime]) VALUES (21, N'EEE', N'Electrical & Electronic Engineering', N'Admin', N'INSERTED', N'10/01/2019 16:40:59')
INSERT [dbo].[Departments] ([Id], [Code], [Name], [ActionBy], [ActionDone], [ActionTime]) VALUES (22, N'MATH', N'Mathematics', N'Admin', N'INSERTED', N'10/01/2019 16:41:07')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([Id], [DesignationName], [ActionBy], [ActionDone], [ActionTime]) VALUES (10, N'Department Head', N'Admin', N'INSERTED', N'10/01/2019 16:40:02')
INSERT [dbo].[Designations] ([Id], [DesignationName], [ActionBy], [ActionDone], [ActionTime]) VALUES (11, N'Assistant Professor', N'Admin', N'INSERTED', N'10/01/2019 16:40:13')
INSERT [dbo].[Designations] ([Id], [DesignationName], [ActionBy], [ActionDone], [ActionTime]) VALUES (12, N'Lecturer', N'Admin', N'INSERTED', N'10/01/2019 16:40:17')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[EnrollCourses] ON 

INSERT [dbo].[EnrollCourses] ([Id], [StudentId], [CourseId], [Session], [Type], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (37, 13, 27, N'1-2019', N'Regular', N'ACTIVE', N'CSE2019001', N'INSERTED', N'10/01/2019 23:24:32')
INSERT [dbo].[EnrollCourses] ([Id], [StudentId], [CourseId], [Session], [Type], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (38, 13, 28, N'1-2019', N'Regular', N'ACTIVE', N'CSE2019001', N'INSERTED', N'10/01/2019 23:24:32')
INSERT [dbo].[EnrollCourses] ([Id], [StudentId], [CourseId], [Session], [Type], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (39, 13, 29, N'1-2019', N'Regular', N'ACTIVE', N'CSE2019001', N'INSERTED', N'10/01/2019 23:24:32')
SET IDENTITY_INSERT [dbo].[EnrollCourses] OFF
SET IDENTITY_INSERT [dbo].[EnrollStates] ON 

INSERT [dbo].[EnrollStates] ([Id], [State], [ActionBy], [ActionDone], [ActionTime]) VALUES (3, N'Enabled', N'Admin', N'UPDATED', N'10/01/2019 23:18:17')
SET IDENTITY_INSERT [dbo].[EnrollStates] OFF
SET IDENTITY_INSERT [dbo].[Notices] ON 

INSERT [dbo].[Notices] ([Id], [RegNo], [NoticeDescription], [DateTime], [ActionBy], [ActionDone], [ActionTime]) VALUES (5, N'Admin', N'On 20th January 2019 at 10:00 AM, Exam Routine for Department of CSE will be published', N'10/01/2019 23:19:30', N'Admin', N'INSERTED', N'10/01/2019 23:19:30')
INSERT [dbo].[Notices] ([Id], [RegNo], [NoticeDescription], [DateTime], [ActionBy], [ActionDone], [ActionTime]) VALUES (6, N'Admin', N'From Tomorrow 10th January 2019, All Classes of Department of CSE will start at 10:00 AM', N'10/01/2019 23:20:20', N'Admin', N'INSERTED', N'10/01/2019 23:20:20')
INSERT [dbo].[Notices] ([Id], [RegNo], [NoticeDescription], [DateTime], [ActionBy], [ActionDone], [ActionTime]) VALUES (7, N'Admin', N'Tomorrow 12th January 2019, Classes of Department of EEE will held from 1:00 PM for unaccepted reason', N'11/01/2019 18:15:19', N'Admin', N'INSERTED', N'11/01/2019 18:15:19')
SET IDENTITY_INSERT [dbo].[Notices] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([Id], [RoomNo], [ActionBy], [ActionDone], [ActionTime]) VALUES (17, N'AC1-401', N'Admin', N'INSERTED', N'10/01/2019 16:38:57')
INSERT [dbo].[Rooms] ([Id], [RoomNo], [ActionBy], [ActionDone], [ActionTime]) VALUES (18, N'AC1-402', N'Admin', N'INSERTED', N'10/01/2019 16:39:04')
INSERT [dbo].[Rooms] ([Id], [RoomNo], [ActionBy], [ActionDone], [ActionTime]) VALUES (19, N'AC1-403', N'Admin', N'INSERTED', N'10/01/2019 16:39:10')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([Id], [SemesterName], [ActionBy], [ActionDone], [ActionTime]) VALUES (9, N'1st', N'Admin', N'INSERTED', N'10/01/2019 16:37:57')
INSERT [dbo].[Semesters] ([Id], [SemesterName], [ActionBy], [ActionDone], [ActionTime]) VALUES (10, N'2nd', N'Admin', N'INSERTED', N'10/01/2019 16:38:08')
INSERT [dbo].[Semesters] ([Id], [SemesterName], [ActionBy], [ActionDone], [ActionTime]) VALUES (11, N'3rd', N'Admin', N'INSERTED', N'10/01/2019 16:38:14')
SET IDENTITY_INSERT [dbo].[Semesters] OFF
SET IDENTITY_INSERT [dbo].[StudentResults] ON 

INSERT [dbo].[StudentResults] ([Id], [StudentId], [CourseId], [Attendance], [Assignement], [ClassTest], [MidTerm], [FinalExam], [Point], [Session], [State], [ActionBy], [ActionDone], [ActionTime], [PublishStatus]) VALUES (11, 13, 30, 9, CAST(8.00 AS Decimal(18, 2)), CAST(9.00 AS Decimal(18, 2)), CAST(15.00 AS Decimal(18, 2)), CAST(30.00 AS Decimal(18, 2)), CAST(3.50 AS Decimal(18, 2)), N'1-2019', N'ACTIVE', N'T0001', N'UPDATED', N'10/01/2019 23:42:34', N'Published')
INSERT [dbo].[StudentResults] ([Id], [StudentId], [CourseId], [Attendance], [Assignement], [ClassTest], [MidTerm], [FinalExam], [Point], [Session], [State], [ActionBy], [ActionDone], [ActionTime], [PublishStatus]) VALUES (12, 13, 32, 8, CAST(7.00 AS Decimal(18, 2)), CAST(8.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(28.00 AS Decimal(18, 2)), CAST(3.00 AS Decimal(18, 2)), N'1-2019', N'ACTIVE', N'T0001', N'UPDATED', N'10/01/2019 23:43:19', N'Published')
INSERT [dbo].[StudentResults] ([Id], [StudentId], [CourseId], [Attendance], [Assignement], [ClassTest], [MidTerm], [FinalExam], [Point], [Session], [State], [ActionBy], [ActionDone], [ActionTime], [PublishStatus]) VALUES (13, 13, 28, 9, CAST(8.00 AS Decimal(18, 2)), CAST(7.00 AS Decimal(18, 2)), CAST(12.00 AS Decimal(18, 2)), CAST(10.00 AS Decimal(18, 2)), CAST(1.00 AS Decimal(18, 2)), N'1-2019', N'ACTIVE', N'T0001', N'UPDATED', N'10/01/2019 23:43:59', N'Published')
SET IDENTITY_INSERT [dbo].[StudentResults] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([Id], [RegNo], [Name], [Email], [ContactNo], [Date], [Address], [DepartmentId], [ActionBy], [ActionDone], [ActionTime], [ProfilePicture]) VALUES (13, N'CSE2019001', N'Irfat Mahmood Turkey', N'irfatmahmoodturkey@gmail.com', N'0444933843', N'10/01/2019', N'Chittagong', 20, N'Admin', N'INSERTED', N'10/01/2019 16:42:51', N'~/ProfilePictures/avater.jpg')
INSERT [dbo].[Students] ([Id], [RegNo], [Name], [Email], [ContactNo], [Date], [Address], [DepartmentId], [ActionBy], [ActionDone], [ActionTime], [ProfilePicture]) VALUES (14, N'CSE2019002', N'Airi Satou', N'airisatou@hotmail.com', N'448904578', N'10/01/2019', N'Tokyo', 20, N'Admin', N'INSERTED', N'10/01/2019 16:43:39', N'~/ProfilePictures/avater.jpg')
INSERT [dbo].[Students] ([Id], [RegNo], [Name], [Email], [ContactNo], [Date], [Address], [DepartmentId], [ActionBy], [ActionDone], [ActionTime], [ProfilePicture]) VALUES (15, N'CSE2019003', N'Bradley Greer', N'bradleygreer@gmail.com', N'849204298', N'10/01/2019', N'London', 20, N'Admin', N'INSERTED', N'10/01/2019 16:44:15', N'~/ProfilePictures/CSE2019003_helllo.png')
SET IDENTITY_INSERT [dbo].[Students] OFF

SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([Id], [RegNo], [Name], [Address], [Email], [ContactNo], [DesignationId], [DepartmentId], [CreditToBeTaken], [ActionBy], [ActionDone], [ActionTime], [ProfilePicture]) VALUES (36, N'T0001', N'Mohammed', N'Chittagong', N'mohammed@gmail.com', N'0175594842', 10, 20, CAST(25.00 AS Decimal(18, 2)), N'Admin', N'UPDATED', N'10/01/2019 17:13:14', N'~/ProfilePictures/avater.jpg')
INSERT [dbo].[Teachers] ([Id], [RegNo], [Name], [Address], [Email], [ContactNo], [DesignationId], [DepartmentId], [CreditToBeTaken], [ActionBy], [ActionDone], [ActionTime], [ProfilePicture]) VALUES (37, N'T0002', N'Jackson Bradshaw', N'New York', N'jacksonbradshaw@gmail.com', N'57485483274', 11, 20, CAST(20.00 AS Decimal(18, 2)), N'Admin', N'INSERTED', N'10/01/2019 17:10:59', N'~/ProfilePictures/avater.jpg')
INSERT [dbo].[Teachers] ([Id], [RegNo], [Name], [Address], [Email], [ContactNo], [DesignationId], [DepartmentId], [CreditToBeTaken], [ActionBy], [ActionDone], [ActionTime], [ProfilePicture]) VALUES (38, N'T0003', N'Jena Gaines', N'London', N'jenagaines@yahoo.com', N'5857448390', 11, 20, CAST(28.00 AS Decimal(18, 2)), N'Admin', N'INSERTED', N'10/01/2019 17:11:43', N'~/ProfilePictures/avater.jpg')
SET IDENTITY_INSERT [dbo].[Teachers] OFF
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_User_Id]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_User_Id] ON [dbo].[AspNetUserClaims]
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_RoleId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_UserId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[AssignmentOrReports]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[AssignmentOrReports]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[ClassroomAllocates]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[ClassroomAllocates]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[ClassroomAllocates]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[CourseAssigneds]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[CourseAssigneds]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Courses]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemesterId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_SemesterId] ON [dbo].[Courses]
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[EnrollCourses]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[EnrollCourses]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[ExamRoutines]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[ExamRoutines]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[StudentResults]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[StudentResults]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Students]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[Supplimentaries]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Teachers]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DesignationId]    Script Date: 11/01/2019 20:24:04 ******/
CREATE NONCLUSTERED INDEX [IX_DesignationId] ON [dbo].[Teachers]
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExamRoutines] ADD  DEFAULT ((0)) FOR [DepartmentId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id] FOREIGN KEY([User_Id])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_User_Id]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AssignmentOrReports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignmentOrReports_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[AssignmentOrReports] CHECK CONSTRAINT [FK_dbo.AssignmentOrReports_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[AssignmentOrReports]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignmentOrReports_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[AssignmentOrReports] CHECK CONSTRAINT [FK_dbo.AssignmentOrReports_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[ClassroomAllocates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassroomAllocates_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[ClassroomAllocates] CHECK CONSTRAINT [FK_dbo.ClassroomAllocates_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[ClassroomAllocates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassroomAllocates_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[ClassroomAllocates] CHECK CONSTRAINT [FK_dbo.ClassroomAllocates_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[ClassroomAllocates]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ClassroomAllocates_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([Id])
GO
ALTER TABLE [dbo].[ClassroomAllocates] CHECK CONSTRAINT [FK_dbo.ClassroomAllocates_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[CourseAssigneds]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CourseAssigneds_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[CourseAssigneds] CHECK CONSTRAINT [FK_dbo.CourseAssigneds_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[CourseAssigneds]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CourseAssigneds_dbo.Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([Id])
GO
ALTER TABLE [dbo].[CourseAssigneds] CHECK CONSTRAINT [FK_dbo.CourseAssigneds_dbo.Teachers_TeacherId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Semesters_SemesterId] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Semesters_SemesterId]
GO
ALTER TABLE [dbo].[EnrollCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnrollCourses_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[EnrollCourses] CHECK CONSTRAINT [FK_dbo.EnrollCourses_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[EnrollCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.EnrollCourses_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[EnrollCourses] CHECK CONSTRAINT [FK_dbo.EnrollCourses_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[ExamRoutines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamRoutines_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[ExamRoutines] CHECK CONSTRAINT [FK_dbo.ExamRoutines_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[ExamRoutines]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ExamRoutines_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
GO
ALTER TABLE [dbo].[ExamRoutines] CHECK CONSTRAINT [FK_dbo.ExamRoutines_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[StudentResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentResults_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
GO
ALTER TABLE [dbo].[StudentResults] CHECK CONSTRAINT [FK_dbo.StudentResults_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[StudentResults]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StudentResults_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([Id])
GO
ALTER TABLE [dbo].[StudentResults] CHECK CONSTRAINT [FK_dbo.StudentResults_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Supplimentaries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Supplimentaries_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Supplimentaries] CHECK CONSTRAINT [FK_dbo.Supplimentaries_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Designations_DesignationId]
GO
USE [master]
GO
